<% layout("/layouts/boilerplate") -%>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <!-- <br><br> -->
    <h3>Create a New Listing</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="listing[title]" class="form-control" required placeholder="Add a catchy title" type="text" />
        <div class="valid-feedback">Title looks good!</div>
      </div>     
      <div class="mb-3">
        <label for="Description" class="form-label">Description</label>
        <textarea
        name="listing[description]"    
        class="form-control"
        required 
      >
    </textarea>
    <div class="invalid-feedback">please give the short description</div>
      </div>
     <div class="mb-3">
      <label for="image" class="form-label">Image Link</label>
      <input
      name="listing[image]"
      placeholder="enter image URL/Link"
      type="text"
      class="form-control"
    />
     </div>

    <div class="row">
   <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Price</label>
        <input name="listing[price]"  class="form-control" required placeholder="1200" type="number" />
        <div class="invalid-feedback">Price Should Be Valid</div>
         </div>

   <div class="mb-3 col-md-8">
         <label for="country" class="form-label">Country</label>
         <input name="listing[country]" placeholder="India" required type="text" class="form-control"/>
         <div class="invalid-feedback">Country Name Should be valid</div>
   </div>
    </div>
   
    <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
        name="listing[location]"
        placeholder="Wardha,Maharashtra"
        type="text"
        class="form-control"
        required
      />
      <div class="invalid-feedback">Location should be Valid</div>
    </div>

        <button class="btn btn-dark add-btn mt-3">Add</button>
       
    </form>
  </div>
  </div>
